<%- include('header'); -%>  <!-- thus this is a template for a header file which can be common for multiple pages -->

<h2> This Todo list is created by Pranav Dhiman</h2>
<p>You can contact me through LinkedIn at pranavdhiman3</p>

<%- include('footer'); -%>  <!-- thus this is a template for a footer file which can be common for multiple pages -->
